* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e5d3f3;
    color: #222;
}

main {
    width: 90%;
    margin: 4% auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px
}

.hero {
    display: flex;
    gap: 20px;
    margin-bottom: 4px;
}

.hero-text {
    flex: 1;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 2%;
}

nav {
    margin-bottom: 60px;
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    color: #4b0082;
    font-weight: 500px;
}

h1, h3 {
    color: #4b0082;
    margin-bottom: 4px;
}

.h1 {
    font-size: 40px;
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    font-style: bold;
}

.hero-text p {
    font-style: italic;
    color: #444;
    margin-top: 60px;
 
}
h4 {
    font-size: 30px;
    font-weight: bold;
    color: #ccc;
    margin-top: 20px;
}
.hero-img img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    float: right;
}

.biography {
    margin: 5%;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

.profesi {
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.bio-column {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.bio-col {
    flex: 1;
    min-width: 280px;
}

.bio-col img {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.iconic {
    margin: 5%;
}

.iconic-right {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}

.profesi-right {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.iconic-content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.iconic-img{
    display: flex;
}

.iconic-img img {
    max-width: 300px;
    border-radius: 8px;
}

.iconic-text {
    flex: 1;
    border-radius: 8px;
}

.iconic-text2 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.iconic-text img{
    flex: 1;
    margin-top: 10px;
    max-width: 220px;
    border-radius: 8px;
}