* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(209, 174, 243);
}

main {  
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 4%;
    padding: 4px;
    background-color: cadetblue;
    border-radius: 6px;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.text-header {
    background-color: coral;
}

.img-header {
    background-color: blueviolet;
}

.biography {
    display: grid;
    grid-template-columns: 40% 35% 25%;
}

.biography1 {
    background-color: chocolate;
}

.biography2 {
    background-color: blueviolet;
}

.biography3 {
    background-color: crimson;
}

article {
    display: grid;
    grid-template-columns: 30% 70%;
}

nav {
    display: grid;
    grid-template-columns: 32% 32% 32;
}



