* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #06071b;
    color: #eee;
    text-align: justify;
}

main {
    width: 90%;
    margin: 4% auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.hero {
    display: flex;
    gap: 20px;
    margin-bottom: 4px;
}

.hero-text {
    flex: 1;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 2%;
}

.logo-img {
    max-width: 80px;      
    height: auto;
    margin-right: 30px;
 
}

nav {
    display: flex;
    align-items: center;         
    gap: 10px;           
    margin-bottom: 60px;
    align-items: center;
   
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    color: #0f0f88;
    font-weight: 500px;
    position: relative;
    transition: ease-out;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #4b4bf4;
    left: 0;
    bottom: -4px;
    transition: width 0.5s ease;
}

nav a:hover::after {
    width: 100%;
}

h1, h3 {
    color: #0f0f88;
    margin-bottom: 4px;
}

.h1 {
    font-size: 40px;
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    font-style: bold;
}

.hero-text p {
    font-style: italic;
    color: #444;
    margin-top: 60px;
 
}
h4 {
    font-size: 30px;
    font-weight: bold;
    color: #959595;
    margin-top: 20px;
}
.hero-img img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    float: right;
    margin: 2%;
}

.biography {
    margin: 5%;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: #0f0f88;
    /* border-bottom: 2px solid #c40055;
    padding-bottom: 10px; */
}

.profesi {
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
    color: #0f0f88;
}

.bio-column {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.bio-col {
    flex: 1;
    min-width: 280px;
}

.bio-col {
    color: #444;
}

.bio-col img {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.iconic {
    margin: 5%;
}

.iconic-right {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}

.profesi-right {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 18px;
    font-style: italic;
    color: #0f0f88;
}

.iconic-content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.iconic-img{
    display: flex;
}

.iconic-img img {
    max-width: 300px;
    border-radius: 8px;
}

.iconic-text {
    flex: 1;
    border-radius: 8px;
    color: #444;
}

.iconic-text2 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.iconic-text img{
    flex: 1;
    margin-top: 10px;
    max-width: 220px;
    border-radius: 8px;
}

.gallery {
    margin: 5%;
    text-align: justify;
}

.gallery-text {
    text-align: left;
    margin-left: 5%;
    font-size: 24px;
    font-weight: bold;
    color: #0f0f88;
}

.gallery-info {
    text-align: left;
    margin-top: 4px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    font-size: 18px;
    color: #0f0f88;
    font-style: italic;
}

.main-card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.card {
    position: relative;
    width: 230px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    background: linear-gradient(to top, rgba(0, 0, 1, 4), transparent);
    z-index: 2;
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ecebeb;
    z-index: 2;
}

.card-text {
    z-index: 3;
    margin-bottom: 10px;
}

.card-content h5 {
    font-size: 24px;
    font-style: bold;
    margin-bottom: 4px;
}

.card-content h6 {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-info {
    font-size: 12px;
    font-style: italic;
    margin-right: 8%;
}

.card-info a {
    color: rgb(132, 201, 239);
    text-decoration: none;
}

.preview {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5%;
}

.journey-text {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #0f0f88;
}

.journey-info {
    text-align: right;
    text-align: justify;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #0f0f88;
    font-style: italic;
}

.journey-content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 4%;
    text-align: justify;
}

.journey-img{
    display: flex;
}

.journey-img img {
    max-width: 200px;
    border-radius: 8px;
}

.footer {
    background-color: #06071b;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 16px;
}

.footer hr {
    border: none;
    border-top: 1.4px solid #1f2235;
    margin: 20px 0 15px;
}

.footer-icons {
    margin-bottom: 20px;
}

.footer-icons a {
    margin: 0 10px;
    display: inline-block;
}

.footer-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.wiki {
    filter: invert(100%); 
}
.footer-icons img:hover {
    transform: scale(1.1);
}

.footer p {
    font-size: 14px;
    color: #ccc;
}